{% load static %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!-- Optional JavaScript -->

<!-- jQuery -->
<!-- slim is missing ajax - remove the slim pattern form url -->
<!-- delete integrity and crossorigin because we want to change the files. then remove the Slim pattenr form string -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <!-- popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <!-- bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
<!-- jQuery-confirm JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<!-- awesome font js -->
    <script src="https://kit.fontawesome.com/208306a8e2.js" crossorigin="anonymous"></script>

