{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <!-- <title>Base template</title> -->
    {% include 'base/css.html' %} <!-- questo inietta il codice di una pagina nel punto in cui è messo -->

  </head>



  <body>

    {% include 'base/navbar.html' with brand_name='eCommerce' %}
    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>


  {% include 'base/js.html' %}


    <script>
      $(document).ready(function(){
        var productForm = $(".form-product-ajax")
        
        productForm.submit(function(event){
          event.preventDefault();

          console.log("Form is not sending")
          var thisForm = $(this)
          // var actionEndpoint = thisForm.attr("action")  // api endpoint
          var actionEndpoint = thisForm.attr("data-endpoint") //
          var httpMethod = thisForm.attr("method");
          var formData = thisForm.serialize();

          console.log(thisForm.attr("action"), thisForm.attr("method"))

          // instead of running a simple sincronous request, we run an asinchronous via ajax
          $.ajax({
              url: actionEndpoint,  
              // usiamo un action endpoint e non un api endpoint perhcè vogliamo essere sicuri che il sito funziona anche se l'utente disabilita javascript
              method: httpMethod,
              data: formData,
              success: function(data){
                console.log("yay!")
                console.log(data)
                console.log("added: ", data.added)
                console.log("removed: ", data.removed)
                var submitSpan = thisForm.find(".submit-span")
                if (data.added){
                  submitSpan.html("In cart<button type='submit' class='btn btn-link'>Remove</button>") 
                } else {
                  submitSpan.html("<button class='btn btn-success' type='submit'>Add to Cart</button>")
                }                
                console.log(submitSpan.html())
                var navbarCount = $(".navbar-cart-count")
                navbarCount.text(datacartItemCount)
              },
              error: function(errorData){
                console.log("error")
                console.log(errorData)
              }

          })

        })



        }


      })
    </script>



    </body>
</html>